cmake-build-debug
benchmark/CQ_inprov_qtf.csv
.idea
.DS_Store
assembly*.pqsm
circuit.qasm
.venv
old_stuff
circ.pqsm
circuit-gen-results/cq/CQ_backend_improved
circuit-gen-results/qsharp/*
!circuit-gen-results/qsharp/MyQFT.qs
!circuit-gen-results/qsharp/Program.cs
!circuit-gen-results/qsharp/QuantumProject.csproj
build
python-backend/quantum_language.c
python-backend/quantum_language.cpython-311-darwin.so
python-backend/quantum_language.cpython-*-linux-gnu.so
__pycache__/
*.egg-info/