# Build directories
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Compiled objects
*.o
*.so
*.dylib
*.a
*.dll
*.lib
tests/__pycache__
circuit-gen-results/qsharp/bin
circuit-gen-results/qsharp/obj
